/* Global Setting */
body{margin:0; padding:0;text-align:left; font-size:12px; font-family:'Microsoft YaHei',Arial; background:#00000d;}
table{border-collapse:collapse;}
td,th{padding:0;}
ul,li,dd,dl,dt{margin:0; padding:0; list-style:none; word-break:break-all;}
img{border:0;}
p{margin:0; padding:0; word-break:break-all;}
h1,h2,h3,h4{margin:0;padding:0; font-weight:normal; font-size:14px;}
em{ font-size:12px; font-style:normal;}
hr{background:none;border:none;border-bottom:1px solid #CCC;#border-bottom:0;}
.clear {clear:both;height:0;font-size:1px;line-height: 0px;}
a{text-decoration:none; border:0; outline:none; blr:expression(this.onFocus=this.blur());}
select,input,textarea{font-family:inherit; outline:none;}

.wrapper{ width:1000px; margin:0 auto; border:none; padding:0;}
.innerDiv{ width:100%; height:100%; position:relative;}
.abs{ position:absolute;}

.page{ position:absolute; left:0; top:0; width:640px;}
.pageOuter{ width:640px; overflow:hidden; margin:0 auto; position:relative;}
.h832{ width:640px; height:832px;}
.bgImg{ position:absolute; left:0; top:-104px; width:640px; height:1039px; display:block;}

.logo{ left:35px; top:35px;}
.musicBtn{ right:35px; top:35px;}

/*page0*/
.page0Bg{ background:url(../images/bg.jpg) 0 0 no-repeat;}
.page0Img1{ background:url(../images/page0Img1.png) 0 0 no-repeat;}
.page0Img1Act{
-webkit-animation:page0Img1Act 0.5s 0s linear both; -webkit-transform-origin:320px 330px;}
@-webkit-keyframes page0Img1Act{
0%{-webkit-transform:scale(0.2); opacity:0.5;}
100%{-webkit-transform:scale(1); opacity:1;}
}
.page0Img2{ background:url(../images/page0Img2.png) 0 0 no-repeat;}
.page0Img2Act{
-webkit-animation:page0Img2Act 3s 0.5s linear both infinite; -webkit-transform-origin:320px 330px;}
@-webkit-keyframes page0Img2Act{
0%{-webkit-transform:translate(10px,0) scale(0.9); opacity:0.3; -webkit-opacity:0.3;}
45%{-webkit-transform:translate(0,0) scale(1.1); opacity:1; -webkit-opacity:1;}
55%{-webkit-transform:translate(0,0) scale(1.1); opacity:1; -webkit-opacity:1;}
100%{-webkit-transform:translate(10px,0) scale(0.9); opacity:0.3; -webkit-opacity:0.3;}
}
.page0Img3{ background:url(../images/page0Img3.png) 0 0 no-repeat;}
.page0Img3Act{
-webkit-animation:page0Img3Act 1s 1s linear both; -webkit-transform-origin:320px 330px;}
@-webkit-keyframes page0Img3Act{
0%{-webkit-transform:translate(0,20px); opacity:0; -webkit-opacity:0;}
100%{-webkit-transform:translate(0,0); opacity:1; -webkit-opacity:1;}
}
.page0Img4{ background:url(../images/page0Img4.png) 0 0 no-repeat;}
.indexBtn1{ left:198px; top:439px;}
.indexBtn2{ left:198px; top:539px;}
.indexBtn3{ left:198px; top:640px;}

.page0RuleBg{ background:url(../images/page0RuleBg.png) 0 0 no-repeat;}
.ruleBlock{ width:640px; height:553px; left:0; top:123px; overflow-x:hidden; overflow-y:auto;}
.indexBtn4{ left:269px; top:696px;}

.page0Award1{ background:url(../images/page0Award1.png) 0 0 no-repeat;}
.page0Award2{ background:url(../images/page0Award2.png) 0 0 no-repeat;}
.page0Award3{ background:url(../images/page0Award3.png) 0 0 no-repeat;}
.indexBtn5{ left:269px; top:762px;}
.indexBtn6{ left:194px; top:370px;}

.page0Img5{ background:url(../images/page0Img5.png) 0 0 no-repeat;}
.page0Img5Act{
-webkit-animation:page0Img5Act 1.5s 0s linear both; -webkit-transform-origin:50% 50%;}
@-webkit-keyframes page0Img5Act{
0%{-webkit-transform:scale(1); opacity:0;}
30%{-webkit-transform:scale(1); opacity:1;}
100%{-webkit-transform:scale(5); opacity:1;}
}

/*.page0Img5{ background:url(../images/page0Img5.png) 0 0 no-repeat; width:1280px; height:1340px; position:absolute; left:50%; top:50%; margin:-670px 0 0 -640px;}
.page0Img5Act{
-webkit-animation:page0Img5Act 1.5s 0s linear both; -webkit-transform-origin:640px 670px;}
@-webkit-keyframes page0Img4Act{
0%{-webkit-transform:scale(0.9); opacity:1;}
100%{-webkit-transform:scale(4); opacity:0;}
}*/
.loadingImg{ left:265px; top:397px;
-webkit-animation:loadingImg 5s 0s linear both infinite; -webkit-transform-origin:55px 55px;}
@-webkit-keyframes loadingImg{
0%{-webkit-transform:rotate(0deg);}
100%{-webkit-transform:rotate(360deg);}
}
.loadTxt{ width:640px; left:0; top:516px; text-align:center; color:#a2a5b4; font-size:20px;}

/*page1*/
.page1Img1{ background:url(../images/moveImg1.jpg) 0 0 no-repeat; width:4824px; height:2000px; position:absolute; left:-2300px; top:-950px;}
.page1Img2{ background:url(../images/moveImg2.png) 0 0 no-repeat; width:4824px; height:2000px; position:absolute; left:-2300px; top:-950px;}
.page1Img3{ background:url(../images/page1Img3.png) 0 0 no-repeat;}
.page1Img0{ background:#FFF;}
.page1Img0Act{
-webkit-animation:page1Img0Act 2s 0s linear both;}
@-webkit-keyframes page1Img0Act{
0%{opacity:1; -webkit-opacity:1;}
100%{opacity:0; -webkit-opacity:1;}
}
.page1Img4{ background:url(../images/page1Img4.png) 0 0 no-repeat;}
.page1Img5{ background:url(../images/page1Img5.png) 0 0 no-repeat;}
.page1Img5Act{
-webkit-animation:page1Img5Act 0.5s 0s linear both;
-webkit-transform-origin:397px 487px;}
@-webkit-keyframes page1Img5Act{
0%{-webkit-transform:scale(0.2); opacity:0; -webkit-opacity:0;}
80%{-webkit-transform:scale(1.2); opacity:1; -webkit-opacity:1;}
100%{-webkit-transform:scale(1); opacity:1; -webkit-opacity:1;}
}
.page1Img5b{ background:url(../images/page1Img5b.png) 0 0 no-repeat;}

.page1Img6{ background:url(../images/page1Img6.png) 0 0 no-repeat;}
.page1Img7{ background:url(../images/page1Img7.png) 0 0 no-repeat;}
/*.page1Img7{ left:500px; top:670px;
-webkit-animation:page1Img7 1s 0.5s linear both infinite;
-webkit-transform-origin:50% 50%;}
@-webkit-keyframes page1Img7{
0%{-webkit-transform:scale(1);}
30%{-webkit-transform:scale(1.2);}
60%{-webkit-transform:scale(1);}
100%{-webkit-transform:scale(1);}
}*/
.page1Img8{ left:449px; top:511px;}

/*page2*/
.page2Img1Img{left:-320px; margin:0; top:-520px; width:1280px; height:2078px;}
.page2Img1Act{
-webkit-animation:page2Img1Act 4s 0.5s ease both; -webkit-transform-origin:478px 1195px;}
@-webkit-keyframes page2Img1Act{
0%{ width:640px; height:1050px; left:0; top:0; opacity:0; -webkit-opacity:0;}
10%{ width:640px; height:1050px; left:0; top:0; opacity:0.1; -webkit-opacity:0.1;}
55%{ width:640px; height:1050px; left:0; top:0; opacity:1; -webkit-opacity:1;}
60%{ width:640px; height:1050px; left:0; top:0; opacity:1; -webkit-opacity:1;}
100%{ width:1280px; height:2078px; left:-320px; top:-560px; opacity:1; -webkit-opacity:1;}
}
.page2Img2{ left:95px; top:550px;
-webkit-animation:page2Img2 1s 0.5s linear both infinite;}
@-webkit-keyframes page2Img2{
0%{-webkit-transform:translate(0,0);}
30%{-webkit-transform:translate(0,-20px);}
60%{-webkit-transform:translate(0,0);}
100%{-webkit-transform:translate(0,0);}
}

/*360 note bg #151f45*/

/*game1*/
.pageGame11{ background:#000;}
.game1Img1{ background:url(../images/game1Img1.png) 0 0 no-repeat;}
.game1Img2{ left:282px; top:160px;
-webkit-animation:game1Img2 0.8s 0s linear both infinite;
-webkit-transform-origin:center bottom;}
@-webkit-keyframes game1Img2{
0%{ -webkit-transform:rotate(-10deg);}
50%{ -webkit-transform:rotate(15deg);}
100%{ -webkit-transform:rotate(-10deg);}
}
.game1Black{ background:#000000; opacity:0.9;}
.game1Img3{ background:url(../images/game1Img3.png) 0 0 no-repeat;}
.game1Img4{ left:300px; top:700px;
-webkit-animation:game1Img4 0.8s 0s linear both infinite;}
@-webkit-keyframes game1Img4{
0%{ -webkit-transform:translate(0,0);}
50%{ -webkit-transform:translate(0,-20px);}
100%{ -webkit-transform:translate(0,0);}
}
.game1Img5{ background:url(../images/game1Img5.png) 0 0 no-repeat;}
.game1Img31{ background:url(../images/game1Img31.png) 0 0 no-repeat;}
.game1Img32{ background:url(../images/game1Img32.png) 0 0 no-repeat;}
.game1Img33{ background:url(../images/game1Img33.png) 0 0 no-repeat;}
.game1Img34{ background:url(../images/game1Img34.png) 0 0 no-repeat;}
.game1Img35{ background:url(../images/game1Img35.png) 0 0 no-repeat;}
.game1Img36{ background:url(../images/game1Img36.png) 0 0 no-repeat;}

.zoomOut{-webkit-animation:zoomOut 0.5s 0s ease both; -webkit-transform-origin:50% 50%;}
@-webkit-keyframes zoomOut{
0%{ -webkit-transform:scale(1);}
100%{ -webkit-transform:scale(5);}
}

.game2Img1{ background:url(../images/game2Img1.png) 0 0 no-repeat;}
.game2Img2{ left:90px; top:750px; /*left:350px; top:570px; -webkit-animation:game2Img2 0.8s 0s linear both infinite;*/}
@-webkit-keyframes game2Img2{
0%{ -webkit-transform:translate(0,0);}
50%{ -webkit-transform:translate(-15px,15px);}
100%{ -webkit-transform:translate(0,0);}
}
.game2Btn1{ left:437px; top:442px;}
.game2Img3{ background:url(../images/game2Img3.png) 0 0 no-repeat;}
.game2Img4{ left:256px; top:113px;
-webkit-animation:game2Img4 0.8s 0s linear both infinite;}
@-webkit-keyframes game2Img4{
0%{ -webkit-transform:translate(0,0);}
50%{ -webkit-transform:translate(-20px,0);}
100%{ -webkit-transform:translate(0,0);}
}
.game2Img5{ background:url(../images/game2Img5.png) 0 0 no-repeat;}
.game2Img5Act{
-webkit-animation:game2Img5Act 1s 0s linear both;}
@-webkit-keyframes game2Img5Act{
0%{ -webkit-transform:translate(0,0); opacity:1;}
100%{ -webkit-transform:translate(100px,0); opacity:0;}
}
.game2Img6{ background:url(../images/game2Img6.png) 0 0 no-repeat;}
.game2Img7{ background:url(../images/game2Img7.png) 0 0 no-repeat;}
.game2Img8{ left:363px; top:780px;}
.game3Img1{ background:url(../images/game3Img1.png) 0 0 no-repeat;}
.game3Img2{ background:url(../images/game3Img2.png) 0 0 no-repeat;}
.game3Img3{ background:url(../images/game3Img3.png) 0 0 no-repeat;}
.game3Img3a{ left:278px; top:705px; -webkit-animation:game3Img3a 0.8s 0s linear both infinite;}
@-webkit-keyframes game3Img3a{
0%{ -webkit-transform:translate(0,0);}
50%{ -webkit-transform:translate(0,-20px);}
100%{ -webkit-transform:translate(0,0);}
}
.game3Img4{ background:url(../images/game3Img4.png) 0 0 no-repeat;}
.p1b{ left:116px; top:94px;}
.p2b{ left:319px; top:94px;}
.p3b{ left:116px; top:262px;}
.p4b{ left:319px; top:262px;}
.p5b{ left:116px; top:430px;}
.p6b{ left:319px; top:430px;}
.p7b{ left:116px; top:598px;}
.p8b{ left:319px; top:598px;}
.game3Img5{ left:165px; top:775px;}
.game3Img6{ background:url(../images/game3Img6.png) 0 0 no-repeat; z-index:10;}

.game4Img1{ background:url(../images/game4Img1.png) 0 0 no-repeat;}
.game4Img2{ left:212px; top:620px;}
.game4Img3{ background:url(../images/game4Img3.png) 0 0 no-repeat;}
.game4Img4{ background:url(../images/game4Img4.png) 0 0 no-repeat;}
.game5Img1{ background:url(../images/game5Img1.png) 0 0 no-repeat;}
.game5Img2{ background:url(../images/game5Img2.png) 0 0 no-repeat;}
.game5Img2b{ left:298px; top:670px; -webkit-animation:game5Img2b 0.8s 0s linear both infinite;}
@-webkit-keyframes game5Img2b{
0%{ -webkit-transform:translate(0,0);}
50%{ -webkit-transform:translate(0,-20px);}
100%{ -webkit-transform:translate(0,0);}
}
.game5Img3{ background:url(../images/game5Img3.png) 0 0 no-repeat;}
.game6Img1{ background:url(../images/game6Img1.png) 0 0 no-repeat;}
.game6Img1b{ left:300px; top:100px;}
.game6Img1bAct{
-webkit-animation:game6Img1bAct 6s 0s linear both;}
@-webkit-keyframes game6Img1bAct{
0%{ -webkit-transform:scale(2.2) translate(0,-200px); opacity:0;}
40%{ -webkit-transform:scale(1) translate(0,250px); opacity:0.7;}
100%{ -webkit-transform:scale(1) translate(0,1100px); opacity:1;}
}
.game6Img2{ background:url(../images/game6Img2.png) 0 0 no-repeat;}
.game6Img2Act{
-webkit-animation:game6Img2Act 2s 0s linear both;
-webkit-transform-origin:center top;}
@-webkit-keyframes game6Img2Act{
0%{ -webkit-transform:scale(1.8); opacity:0;}
100%{ -webkit-transform:scale(1); opacity:1;}
}
.game6Img4{ top:-120px; left:300px;}
.game6Img5{ bottom:-104px; left:270px;}
.game6Img5b{ width:640px; height:280px; left:0; bottom:-104px;}
.game6Img3{ left:327px; top:548px;}
.game6Img6{ left:240px; top:495px; -webkit-animation:game6Img6 1s 0s linear both infinite;}
@-webkit-keyframes game6Img6{
0%{ -webkit-transform:translate(0,0);}
50%{ -webkit-transform:translate(-20px,0);}
100%{ -webkit-transform:translate(0,0);}
}
.we{ width:56px; height:462px; background:url(../images/weBg.png) 0 0 no-repeat; left:585px; top:290px;}

.game7Img1{ background:url(../images/game7Img1.png) 0 0 no-repeat;}
.game7Img2{ background:url(../images/game7Img2.png) 0 0 no-repeat;}
.game7Img2b{ left:298px; top:670px; -webkit-animation:game7Img2b 0.8s 0s linear both infinite;}
@-webkit-keyframes game7Img2b{
0%{ -webkit-transform:translate(0,0);}
50%{ -webkit-transform:translate(0,-20px);}
100%{ -webkit-transform:translate(0,0);}
}
.game7Img3{ background:url(../images/game7Img3.png) 0 0 no-repeat;}
.game7Img4{ left:278px; top:705px; -webkit-animation:game7Img4 0.8s 0s linear both infinite;}
@-webkit-keyframes game7Img4{
0%{ -webkit-transform:translate(0,0);}
50%{ -webkit-transform:translate(0,-20px);}
100%{ -webkit-transform:translate(0,0);}
}

.game8Img1{ background:url(../images/game8Img1.png) 0 0 no-repeat;}
.game8Img2{ background:url(../images/game8Img2.png) 0 0 no-repeat;}
.game8Img2Act{-webkit-animation:game8Img2Act 1s 1s linear both;}
@-webkit-keyframes game8Img2Act{
0%{ -webkit-transform:translate(0,20px); opacity:0;}
100%{ -webkit-transform:translate(0,0); opacity:1;}
}
.game8Img3{ background:url(../images/game8Img3.png) 0 0 no-repeat;}
.game8Img31{ left:77px; top:322px;}
.game8Img32{ left:224px; top:170px;}
.game8Img33{ left:392px; top:302px;}
.game8Box{ width:280px; height:160px; left:181px; top:557px;}

.game8Img4{ background:url(../images/game8Img4.png) 0 0 no-repeat;}
.game8Img5{ background:url(../images/game8Img5.png) 0 0 no-repeat;}
.game8Img5Act{-webkit-animation:game8Img5Act 3s 0s linear both infinite;}
@-webkit-keyframes game8Img5Act{
0%{ opacity:1;}
50%{ opacity:0.4;}
100%{ opacity:1;}
}
.game8Img6{ background:url(../images/game8Img6.png) 0 0 no-repeat;}
.endBottle{ left:268px; top:290px;}

.awardYes1{ background:url(../images/awardYes1.png) 0 0 no-repeat;}
.awardYes2{ background:url(../images/awardYes2.png) 0 0 no-repeat;}
.awardYes3{ background:url(../images/awardYes3.png) 0 0 no-repeat;}
.awardNo{ background:url(../images/awardNo.png) 0 0 no-repeat;}
.a2Numb,.a3Numb{ left:0; top:275px; width:640px; text-align:center; line-height:100%; font-size:26px; color:#3f0a1b;}
.endBtn1{ left:195px; top:435px;}
.endBtn2{ left:195px; top:470px;}

.colddownTime{ background:url(../images/colddownTimeIcon.png) 0 0 no-repeat; width:80px; height:36px; line-height:36px; font-size:30px; color:#FFF; padding-left:40px; left:290px; top:50px;}

.gameOver{ background:url(../images/gameOver.png) 0 0 no-repeat;}
.endBtn3{ left:195px; top:608px;}